---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="flex flex-col">
    <img class="" src="/images/andreadrev.png" alt="Header Image" />
    <h1 class="header_name roboto-regular center text-gray-950">ANDREA.DREV</h1>
    <div>
      <p>Creative Director</p>
      <p class="roboto-thin">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi similique natus nulla maxime deleniti quisquam
        obcaecati dolore quaerat fugiat neque labore reiciendis assumenda ipsum harum quo, odit dolor voluptas nisi.
      </p>
    </div>
  </div>
  <!-- PROFILE -->
  <!-- <section id="latest_project">
    <div class="relative flex w-screen h-screen align-middle bg-gray-950">
      <img src="/images/molecular_theatre_base.jpg" class="w-full absolute" alt="latest" />
      <div class="absolute w-full h-full bg-black opacity-50"></div>
      <div class="z-10">
        <h1 class="text-gray-200 text-xl">Latest Project</h1>
      </div>
      <div class="z-10 w-3/4 inset-0 flex flex-col justify-center px-8 md:px-12 ml-auto max-w-7xl lg:px-32">
        <h2 class="roboto-bold text-6xl text-gray-200">Molecular Theatre</h2>
        <h3 class="roboto-thin-400 pb-6 text-2xl text-gray-200">Art, Technology, Production</h3>
        <p class="roboto-regular text-gray-300 w-3/4">
          Molecular Theatre is a project that explores the intersection of art, technology, and production. It is a
          multimedia experience that combines the latest in digital technology with traditional art forms to create a
          unique and immersive experience for the audience.
        </p>
      </div>
    </div>
  </section> -->
  <!-- <section id="profile">
     <div class="relative flex w-screen h-screen align-middle bg-gray-950">
      <div class="px-8 md:px-12 mx-auto max-w-7xl py-6 lg:px-32 flex my-auto">
        <div class="flex flex-row items-center gap-y-6 gap-x-8">
            <img src="/images/andrea_cam.jpg" class="w-1/2" alt="Andrea Drev Profile" class="">
            <div class="flex flex-col w-1/2 nunito-regular">
              <h1 class="roboto-bold text-6xl  text-gray-200">Andrea Drev</h1>
              <h2 class="roboto-bold pb-6 text-6xl  text-gray-200">(Tesanovic)</h2>
              <p class="text-gray-300 nunito-regular">Andrea Drev was born in Bosnia and Herzegovina and grew up in Tuzla and Belgrade, where she studied art production and transdisciplinary art theory. Based in Copenhagen, she works in media art,communications, and multimedia production.</p>
            </div>
          </div>
      </div>
    </div>
  </section> -->
  <!-- <section id="profile">
    <div class="flex w-screen h-screen bg-gray-50 align-middle items-center">
      <h3 class="text-gray-950 px-4 w-3/4 text-6xl">
        Elevating businesses through expertise in creating remarkable marketing content and strategy.
      </h3>
    </div>
  </section>

  <section id="projects" class="bg-gray-50">
    <ul class="grid grid-cols-1 gap-1 gap-y-24 lg:grid-cols-3 sm:grid-cols-2">
      {
        allPosts
          .slice()
          .map((post) => (
            <EntriesOne
              url={'/posts/' + post.slug}
              title={post.data.title}
              description={post.data.description}
              alt={post.data.title}
              pubDate={post.data.pubDate.toString().slice(0, 10)}
              author={post.data.author}
              image={post.data.image.url}
              tags={post.data.tags}
            />
          ))
      }
    </ul>
  </section>
  <section>
    <div class="relative flex w-screen h-screen">
      <div class="px-8 md:px-12 mx-auto max-w-7xl py-6 lg:px-32 flex my-auto">
        <div class="grid grid-cols-3 gap-8">
          <div class="">
            <img src="https://picsum.photos/200/300" alt="Project 1" class="image-round" />
            <h1>Project Management</h1>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis autem sequi incidunt corporis
              laboriosam molestiae earum sed qui quasi suscipit voluptas quas debitis, voluptatum eligendi et obcaecati
              expedita atque quam.
            </p>
            <button> LEARN MORE </button>
          </div>
          <div class="">
            <img src="https://picsum.photos/200/300" alt="Project 1" class="image-round" />
            <h1>Project Management</h1>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis autem sequi incidunt corporis
              laboriosam molestiae earum sed qui quasi suscipit voluptas quas debitis, voluptatum eligendi et obcaecati
              expedita atque quam.
            </p>
            <button> LEARN MORE </button>
          </div>
          <div class="">
            <img src="https://picsum.photos/200/300" alt="Project 1" class="image-round" />
            <h1>Project Management</h1>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis autem sequi incidunt corporis
              laboriosam molestiae earum sed qui quasi suscipit voluptas quas debitis, voluptatum eligendi et obcaecati
              expedita atque quam.
            </p>
            <button> LEARN MORE </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Cta /> -->
</BaseLayout>
